.sourceTag {
    span {
        position: absolute;
        transform: translate(6%, -34%);
        background: rgba(251, 143, 5, 0.79);
        padding: 2px 10px;
        border-top-left-radius: 58%;
        border-bottom-left-radius: 58%;
        // display: none;
    }

    transform: scale(0);
    transition: all 0.3s;
}

.mainItemDiv {
    transition: all 0.4s;
    background: white;

    &:hover {
        .sourceTag {
            transform: none;

        }

        .card-title {
            color: #ff00a6;
        }
    }
}