@font-face {
    font-family: "ttTrails";
    src: url(../../fonts/TTTrailersDemibold.woff) format("woff");
}

@font-face {
    font-family: "calypso";
    src: url(../../fonts/Calypso.ttf) format("ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.MainHeader {
    background: rgb(167, 168, 167);
    background: linear-gradient(350deg, rgba(167, 168, 167, 1) 0%, rgba(189, 191, 191, 1) 31%, rgba(96, 96, 97, 1) 64%, rgba(50, 49, 49, 1) 91%);
    box-shadow: 0px 4px 11px 6px #636363bf;

    // !Logo Style
    .logo {
        font-family: 'ttTrails';
        font-size: 4rem;
        background: rgb(16, 232, 14);
        background: linear-gradient(333deg, rgba(16, 232, 14, 1) 11%, rgba(39, 242, 224, 1) 37%, rgba(9, 38, 237, 1) 64%, rgba(93, 1, 147, 1) 83%);
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }

    nav {
        margin-left: 1rem;

        //  Mani Navigation Style For Desktop mode
        .box {
            ul {
                grid-template-columns: repeat(6, minmax(0, 1fr));
                font-size: 1.3rem;

                li {
                    opacity: 1;
                    visibility: visible;
                    transition: all 0.3s;


                    &:hover {
                        transform: scale(1.2);

                        .nav-link {
                            text-shadow: 0px 2px 3px #292929;
                        }
                    }
                }

            }
        }

        // * at Desktop Mode the Nav Icon stay in invisible mode
        div {
            .menuButton {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 1090px) {
    .MainHeader {
        padding-right: 2rem !important;
    }
}

// * MOBILE VIEW --->

@media screen and (max-width: 820px) {

    .MainHeader {
        padding-left: 3rem !important;
        padding-right: 2rem !important;

        .logo {
            font-size: 3.2rem;
        }

        nav {
            .box {
                ul {
                    //* -> Nav At Open Condition
                    grid-template-columns: none;
                    position: fixed;
                    right: 1%;
                    width: 5px;
                    font-size: 2rem;
                    // border: 1px solid black;
                    border-radius: 5px;
                    // background: #686868e3;
                    background: rgb(167, 168, 167);
                    background: linear-gradient(232deg, rgba(167, 168, 167, 1) 0%, rgba(189, 191, 191, 1) 31%, rgba(96, 96, 97, 1) 64%, rgba(50, 49, 49, 1) 91%);
                    box-shadow: -4px 15px 18px -5px #000000bf;
                    // left: 1%;
                    // top: 7%;
                    // padding: 2rem 3rem;
                    // width: clamp(90vw, 98vw, 600px);
                    // height: 39vh;
                    // transition: all .3s ease-out;

                    li {
                        display: none;
                        opacity: 0;
                        visibility: hidden;
                        transition: color 0.4s;

                        &:hover {

                            list-style: disclosure-closed;
                            // color: rgb(100, 98, 98);
                            color: rgba(177, 177, 177, 0.56);
                            transform: scale(1);

                            .nav-link {
                                text-shadow: none;
                            }
                        }
                    }
                }



                ul.openMenu {

                    //*--->Nav At Closing Condition
                    background: #686868e3;

                    // left: 94%;
                    // top: 6%;
                    // width: 5px;
                    // height: 1rem;
                    // padding: 0;
                    li {
                        // display: none !important;
                        opacity: 0;
                        visibility: hidden;
                        opacity: 0;
                        // transform: all 0.3s;
                    }
                }
            }

            div {
                .menuButton {
                    display: block;
                    height: 2rem;
                    aspect-ratio: 1;
                }
            }
        }
    }
}